[submodule "third_party/cvnp"]
	path = third_party/cvnp
	url = https://github.com/pthom/cvnp.git
[submodule "third_party/cub"]
	path = third_party/cub
	url = https://github.com/NVlabs/cub.git
[submodule "model"]
	path = model
	url = https://github.com/yzfzzz/depth-detect-model.git
